#content {
    max-width: 600px;
}

#content dl {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;
}

#content dl dt {
    width: 40%;
    padding: 20px 0 20px 5px;
    font-size: 0.8rem;
    border-bottom: 1px solid #ccc;
}

#content dl dt:last-of-type {
    border: none;
}

#content dl dd {
    width: 60%;
    padding: 20px 0;
    font-size: 0.8rem;
    border-bottom: 1px solid #ccc;
}

#content dl dd:last-child {
    border: none;
}

#google-map {
    width: 100%;
    aspect-ratio: 2 / 1;
    margin-bottom: 150px;
}
