#content {
    max-width: 800px;
    margin-bottom: 60px;
}

#content .item-title {
    margin-bottom: 30px;
    font-size: 1.2rem;
    font-weight: 400;
}

#content .img-wrapper {
    width: 400px;
    height: 400px;
}

#content .text-wrapper {
    width: 400px;
    padding-left: 65px;
}

#content .text-wrapper p {
    margin-bottom: 25px;
}

#price {
    padding-left: 5px;
    font-size: 0.9rem;
}

#details {
    display: flex;
    flex-wrap: wrap;
}

#details dt {
    display: flex;
    width: 40%;
    padding-right: 10px;
    font-size: 0.9rem;
}

#details dt span {
    margin: 0 0 0 auto;
}

#details dd {
    width: 60%;
    font-size: 0.9rem;
}


#goto-products-btn {
    margin: 0 auto;
}
