.nav-links {
    display: flex;
    width: fit-content;
    column-gap: 40px;
    margin: 0 auto 100px auto;
}

.nav-links #nav-link-num {
    display: flex;
    column-gap: 40px;
}

#nav-link-num li button.current {
    color: blue;
}

.item {
    cursor: pointer;
}


@media screen and (max-width: 320px) {
    .nav-links {
        font-size: 0.75rem;
        column-gap: 15px;
    }

    .nav-links #nav-link-num {
        column-gap: 15px;
    }
}
